<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <div style="text-align: center">
    <h1 style="font-size: 3em; color: #333">Oops!</h1>
    <p style="font-size: 1.5em; color: #666">
      We can't seem to find the page you're looking for.
    </p>
    <img
      src="https://media.giphy.com/media/l2Je66zG6mAAZxgqI/giphy.gif"
      alt="Page not found GIF"
    />
    <p style="margin-top: 20px">
      <a href="/" style="text-decoration: none; color: #007bff">Go back home</a>
    </p>
  </div>
</div>
