<div class="container m-auto flex justify-center items-center h-screen">
  <div class="bg-violet-200 rounded p-10 w-2/5 animate-flip-down">
    <div class="mb-4">
      <label
        for="interest"
        class="flex justify-center text-xl mb-1 text-gray-700"
      >
        Interest:
      </label>
      <select
        [(ngModel)]="userInterest"
        required
        class="text-center w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-violet-500"
      >
        <option value="" disabled selected>Select your interest</option>
        <option [value]="0">Nature</option>
        <option [value]="1">Art</option>
        <option [value]="2">Sport</option>
        <option [value]="3">Shopping</option>
        <option [value]="4">Food</option>
      </select>
    </div>
    <button
      (click)="changeInterest()"
      class="w-full bg-violet-500 text-white py-2 rounded-md hover:bg-violet-600"
    >
      Change
    </button>
  </div>
</div>
