<div
  class="flex justify-center items-center h-screen m-auto container animate-flip-down"
  [ngClass]="{ 'pt-32': problems.length > 6, 'pt-52': problems.length > 9 }"
>
  <div
    class="flex flex-col justify-center items-center h-screen m-auto container"
  >
    <!-- Check if there are any problems -->
    <div *ngIf="problems.length > 0; else noProblems">
      <div class="grid grid-cols-3 gap-32">
        <div *ngFor="let problem of problems">
          <div
            class="w-96 h-56 overflow-hidden rounded-lg bg-violet-100 border border-violet-300 bg-opacity-55 shadow-sm duration-300 hover:scale-105"
          >
            <h1 class="mt-2 text-xl font-semibold flex justify-center">
              {{ problem.name }}
            </h1>
            <p class="mt-2 flex justify-center text-lg">
              {{ problem.description }}
            </p>
            <p class="mt-2 flex justify-center text-lg">
              <ng-container *ngIf="problem.status === 0">On wait</ng-container>
              <ng-container *ngIf="problem.status === 1">Solved</ng-container>
              <ng-container *ngIf="problem.status === 2"
                >On revision</ng-container
              >
              <ng-container *ngIf="problem.status === 3"
                >Discarded</ng-container
              >
              <ng-container *ngIf="problem.status > 3 || problem.status < 0"
                >Unknown Status</ng-container
              >
            </p>

            <div class="mt-10 mb-0 flex justify-center">
              <button
                [disabled]="problem.status != 0"
                (click)="markAsDone(problem.id)"
                class="px-6 py-3 uppercase font-semibold text-violet-900 bg-violet-300 p-2 rounded duration-300"
                [class.hover:bg-violet-400]="problem.status == 0"
              >
                Mark as done
              </button>
              <button
                [disabled]="problem.status != 0"
                (click)="sendToRevision(problem.id)"
                class="ml-2 px-6 py-3 uppercase font-semibold text-violet-900 bg-violet-300 p-2 rounded duration-300"
                [class.hover:bg-violet-400]="problem.status == 0"
              >
                Send to revision
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Template for no problems available -->
    <ng-template #noProblems>
      <div class="text-center">
        <h2 class="text-3xl text-gray-800">
          No problems reported at this time.
        </h2>
      </div>
    </ng-template>
  </div>
</div>
