<div class="container m-auto flex justify-center items-center h-screen">
  <div class="bg-violet-200 rounded p-10 w-2/5 animate-flip-down">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="mx-auto">
      <div class="mb-4">
        <label
          for="username"
          class="flex justify-center text-xl mb-1 text-gray-700"
          >Username:</label
        >
        <input
          type="text"
          formControlName="username"
          placeholder="Enter your username"
          required
          class="text-center w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-violet-500"
        />
      </div>
      <div class="mb-4">
        <label
          for="password"
          class="flex justify-center text-xl mb-1 text-gray-700"
          >Password:</label
        >
        <input
          type="password"
          formControlName="password"
          placeholder="Enter your password"
          required
          class="text-center w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-violet-500"
        />
      </div>
      <div class="justify-center flex">
        <button
          type="submit"
          class="px-4 py-2 bg-violet-500 text-white rounded-md duration-300 hover:bg-violet-600 mb-3"
        >
          Login
        </button>
      </div>
      <span class="flex justify-center">
        Don't have an account? &nbsp;
        <a class="cursor-pointer font-semibold" (click)="navigateToRegister()">
          Sign in</a
        >
      </span>
    </form>
  </div>
</div>
